geopandas
tensorflow
keras
keras_applications
image-classifiers
efficientnet
segmentation-models
matplotlib
Pillow
scikit-learn
folium
opencv-python
geckodriver_autoinstaller
selenium
webdriver-manager
